*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
  background-color: orangered;
}
table {
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  width: 70%;
  margin: 8% auto;
  border-spacing: 0;
  border-collapse: collapse;

}
td,th{
    min-width: 3.5em; 
    font-weight: 400;
}
th {
    background-color: rgb(24, 16, 16);
    color: white;
    font-size: .7em;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    font-weight: 900;
}
td {
    padding-top: .5em;
    padding-bottom: .5em;
    font-size: .825em;
    text-align: center;
    color: rgb(52, 48, 48);
}
.first td{
    padding-top: 2em;
}
.last td{
    padding-bottom: 3em;
}
span {
    background-color: rgb(219, 75, 23);
    padding: 9px 10px;
    border-radius: 50%;
    color: white;
}

@media screen and (min-width: 768px){
    th {
        font-size: .9em;
    }
    td {
        font-size: 1.25em;
    }
}